html
    head
        title Example Page
        link(rel='preload' as='style' onload="this.rel = 'stylesheet'" href='css/main.css')
        meta(name='description' content='')
        meta(name='keywords' content='')
        meta(name='author' content='')
    body
        h1 Example H1 Title
        script(src='vendor/js/jquery-3.6.0.min.js')
        script(src='javascripts/main.js')
